.navbar {
    background-color:purple !important;
} 
.nav-link:hover {
    color: palevioletred !important;
}
.nav-link {
    color: white !important;
}
.marq {
    background-color: palevioletred !important;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    padding: 5px;

}

.footer {
    background-color: black !important;
    
    color: white;
}


